{% extends 'food/base.html' %}

    {% block content %}
    <div class="container-fluid my-5">
        {% for item in item_list %}
        <div class="row mb-4">
            <div class="col-md-3 offset-md-2">
                <img src="{{ item.item_image }}" class="card img-fluid" height="150px" alt="">
            </div>
            <div class="col-md-4">
                <h2 class="h2">{{ item.item_name }}</h2>
                <h2 class="h2">{{ item.item_desc }}</h2>
                <h2 class="h2"> &#8377; {{ item.item_price }}</h2>
            </div>
            <div class="col-md-2">
                <!-- <a href="{% url 'food:detail' item.id %}" class="btn btn-primary">view</a> -->
                <div class="d-grid gap-2 d-md-block">
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success" type="button">details</a>
                    <a href="{% url 'food:update_item' item.id %}" class="btn btn-primary" type="button">edit</a>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    {% endblock %}